<!--=============================
        MAIN MENU START
    ==============================-->
<% if (!isVerified && typeof blackHeading === 'undefined') { %>
<div class="header-top">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col">
                <p>Please verify your email to get full access to the site! <a href="/account/security">Verify here</a></p>
            </div>
        </div>
    </div>
</div>
<% } %>
<nav class="navbar navbar-expand-lg main_menu <% if (typeof blackHeading !== 'undefined') { %>main_menu_black<% } %>">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.png" alt="Directory & Listings Template" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars bar_icon"></i>
            <i class="far fa-times close_icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link <% if (path === '/index') { %>active<% } %>" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Education <i class="far fa-angle-down"></i></a>
                    <ul class="droap_menu">
                        <li><a href="#">Coming soon!</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Breweries <i class="far fa-angle-down"></i></a>
                    <ul class="droap_menu">
                        <li><a href="listing_grid_view.html">listing grid view</a></li>
                        <li><a href="listing_left_sidebar.html">listing left sidebar</a></li>
                        <li><a href="listing_right_sidebar.html">listing right sidebar</a></li>
                        <li><a href="listing_details.html">listing details</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Beers <i class="far fa-angle-down"></i></a>
                    <ul class="droap_menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_details.html">Blog details</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog <i class="far fa-angle-down"></i></a>
                    <ul class="droap_menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_details.html">Blog details</a></li>
                    </ul>
                </li>
                <% if (isAuthenticated) { %>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" href="#">User <i class="far fa-angle-down"></i></a>
                    <ul class="droap_menu">
                        <li><a href="/user/profile">My Profile</a></li>
                        <li><a href="/account">My Account</a></li>
                        <li><a href="checkout.html">checkout</a></li>
                        <li>
                            <form action="/logout" method="post">
                                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                                <button class="menu_button" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="menu_right d-flex align-items-center navbar-nav m-auto">
                <% if (isAuthenticated) { %>
                <li class="nav-item">
                    <a class="user_login" href="#">
                        <% 
                        let profile
                        if (!userLoggedIn.profilePicture) {
                            profile = '/assets/images/profile.jpg';
                        } else {
                            profile = '/' + userLoggedIn.profilePicture;
                        }
                    %>
                        <img src="<%=profile %>" alt="user" class="img-fluid headerImg"> Account
                    </a>
                    <ul class="droap_menu">
                        <li><a href="/user/profile">My Profile</a></li>
                        <li><a href="/account">My Account</a></li>
                        <li><a href="checkout.html">checkout</a></li>
                        <li>
                            <form action="/logout" method="post">
                                <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
                                <button class="menu_button" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <% } else { %>
                <div class="white"><a class="user_login" href="/login">Login</a> / <a class="user_login" href="/signup">Signup</a></div>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<!--=============================
        MAIN MENU END
    ==============================-->